# --- DJANGO ---
SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend

# --- BASE DE DONNÉES ---
# Mettre à True si vous travaillez sans Docker et sans PostgreSQL local
USE_SQLITE=False

# Pour Docker ou PostgreSQL local :
POSTGRES_DB=open_smr_db
POSTGRES_USER=open_smr_user
POSTGRES_PASSWORD=open_smr_password
POSTGRES_HOST=db             # Remplacer par 'localhost' si PG est installé sur la machine
POSTGRES_PORT=5432

# --- FRONTEND ---
REACT_APP_API_URL=http://localhost:8000/api