# Python / Django
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
dist/

# Environnement & Clés
.env
.env.local
.env.*.local

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker logs
*.log